.secback{
  background-image: url(/imgs/secback.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 100%;
  height: 600px;
}

.left-p{
  margin-left: 50px;
  padding-top: 80px;
  color: rgb(172, 29, 3);
}

.right-p{
  margin-left: 50px;
  padding-left: 600px;
  font-size: 30px;
  color: rgb(108, 19, 4);
}

.card{
  float: left;
  width: 280px;
  height: 240px;
  margin-top: 50px;
  margin-left: 50px;
  background-color: white;
  border-radius: 10px;
}

.card p{
  padding-top: 15px;
  padding-left: 20px;
  color: darkred;
  font-weight: bold;
}

.card .description{
  padding-top: 15px;
  padding-left: 20px;
  color: gray;
  font-weight: normal;
}

.animal-logo{
  width: 75px;
  height: 75px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: pink;
  border-radius: 10px;
  text-align: center;
  line-height: 70px
}

.animal-logo img{
  width: 60%;
  height: auto;
  vertical-align: middle;
}

